@model DAW_Yacht.Models.GalleryModel

@{
    ViewData["Title"] = "Create";
}

@section Styles {
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/css/select2.min.css" rel="stylesheet" />
}

<h1>Create</h1>

<h4>GalleryModel</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ImageModels" class="control-label"></label>
                <select asp-for="ImageModels" asp-items="@ViewBag.Images"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
function formatState (state) {
  if (!state.id) {
    return state.text;
  }
  var baseUrl = "/images";
  var $state = $(
    '<span><img src="' + baseUrl + '/' + state.text + '" width="100px" height="100px" /> ' + state.text + '</span>'
  );
  return $state;
};
window.addEventListener("load", () => {
    // $("#ImageModels > option").each((index, element) => {
    //     $(element).html("<img src='/images/" + $(element).html() + "' width='200px' height='200px' />");
    // });
    $("#ImageModels").select2({
        multiple: true,
        templateResult: formatState
    });
    
    
});
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>

}