@using System.Collections
@model DAW_Yacht.Models.GalleryModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>GalleryModel</h4>
<hr/>
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control"/>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div id="images">
            @foreach (var item in ViewBag.images)
            {
                <button data-id="@item.Id" type="button">
                    <img src="~/images/@item.RealFilename"
                         height="200" width="200"
                         asp-append-version="true"/>
                </button>
            }
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary"/>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

<script type="text/javascript">
window.addEventListener("load", () => {
   $("#images > button").each((index, element) => {
          $(element).on("click", (ev) => {
              $("#images").after("<input type='hidden' name='IdImages[]' val='" + String($(ev.target).parent().attr("data-id")) + "'/>");
              $(ev.target).parent().addClass("border-danger");
          });
      }); 
});
</script>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}